*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    background-color: rgb(55, 92, 97);

    width: 900px;
    height: 500px;

    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);

    justify-content: center;  
    align-content: center;
}