*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    border:2px solid red;
    height: 90%;
    padding: 2rem;
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(3,300px);
    justify-content: center;
}

.apply-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply-radius{
    border-radius: 10px;
}

.box-1{
    background-color: aqua;
    /* app jha ho vaha se 2 column cover kero */
    grid-column: span 2;
}

.box-2{
    background-color: rgb(43, 122, 47);
}

.box-3{
    background-color: blueviolet;
    /* app jha ho vaha se 3 column cover kero */
    grid-column: span 3;
}

.box-4{
    background-color: red;

    /* app jha ho vaha se 2 row ko span (extend) kero. */
    grid-row:span 2;
}

.box-5{
    background-color: rgb(18, 83, 78);
    grid-column: span 2;
    grid-row: span 2;
}

.box-6{
    background-color: rgba(8, 3, 82, 0.445);
    grid-column: span 2;
    grid-row: span 2;
}

.box-7{
    background-color: coral;
    grid-row: span 2;
}

.box-8{
    background-color:violet ;
}

.box-9{
    background-color: crimson;
    grid-column: span 2; 
}

.box-10{
    background-color: firebrick;
    grid-column: span 3;
}