html,body{
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    height: 500px;
    border:3px solid red;
    margin: auto;

    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;

    justify-content: center;
    align-content: center;

    gap:20px;
    

    /* justify-items: center;
    align-items: center; */
}

.item-1{
    background-color: red;
    height: 50%;
    width: 50%;

    align-self: end;
    justify-self: end;
}

.item-4{
    background-color: aqua;
    align-self: self-end;
}